<!DOCTYPE html><html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<meta name="description" content="gold bar, gold coins, gold accessories">
    <meta name="keywords" content="gold bar, gold coins, gold accessories">
	<meta name="author" content="RUBYSOFT">
    <link rel="icon" sizes="57x57" href="{{ url_for('static', filename='Images/n-logo_1.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='Images/favi-57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='Images/favi-72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='Images/favi-114.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='Images/favi-144.png') }}">

	<title>Rozaini Gold Bullion And Jewellery</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
	<!--<script src="js/Chart.js"></script>-->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&amp;display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/animate.min_1.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.carousel.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.carousel.min_1.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.theme.default.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/jarallax.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
<!-- <link href="css/main.css?ver=10" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script async src="{{ url_for('static', filename='js/analytics.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
	<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<style>
html{
	overflow-x: hidden;
}


</style></head>



<body id="top">




	<main>

   <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <span class="logo navLogo"><a href="/"><img class="logo" src="{{ url_for('static', filename='Images/n-logo_1.png')}}" alt="Logo" width="50"></a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="/">Rozaini</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Our Products</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="mailto:rozainigoldbullionandjewellery@gmail.com"><img class="" src="{{ url_for('static', filename='products/Images/MailGold.png')}}" alt="Logo" width="50"></a></li>

                    <li><a href="https://www.instagram.com/rozainigoldbullionjewellery/"><img class="" src="{{ url_for('static', filename='products/Images/InstagramCircleGold.png')}}" alt="Logo" width="50"></a></li>

                    <li><a href="https://wa.me/601124246969"><img class="" src="{{ url_for('static', filename='Images/WhatsappGold.png')}}" alt="Logo" width="50"></a></li>
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                </div>

                <div class="searchBox">
                   <div class="searchToggle">
                   </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <script>
			document.addEventListener("DOMContentLoaded", function () {
			    var link = document.querySelector("link[rel='apple-touch-icon']");

			    link.href = "{{ url_for('static', filename='Images/favi-57.png') }}";
			});
			document.addEventListener("DOMContentLoaded", function() {
				const dropdown = document.querySelector(".dropdown");
				const dropdownLink = document.querySelector(".dropdown > a");
				const dropdownContent = document.querySelector(".dropdown-content");

				dropdownLink.addEventListener("mouseover", function() {
					dropdownContent.style.display = "block";
					setTimeout(function() {
						dropdownContent.style.opacity = "1"; 
					}, 10);

				});

				dropdown.addEventListener("mouseout", function(event) {
					// Check if the mouse is leaving the dropdown area
					if (!dropdown.contains(event.relatedTarget)) {
						dropdownContent.style.opacity = "0";
						setTimeout(() => {
							dropdownContent.style.display = "none";
						}, 300);
					}
				});
			});
		</script>

<div class="container" style="padding-top: 50px; margin-top: 40px;">
  <div class="text-idea text-center mx-auto mb-5 mt-5" style="max-width: 1280px; background-image: url('{{ url_for('static', filename='Images/venice_boat.jpeg') }}'); background-size: cover; background-position: center; height: 380px; background-repeat: no-repeat;">

		<div class="row pt-2">
			<div class="col-md-12" data-aos-duration="3000">
				<div class="corp">
					<h2>HOME</h2><br>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="row text-center" style="margin-top:60px;">
    		<p class=""> — <span id="custom-date">19 September 2023</span> — <br><b> <span id="custom-time">10:43:33</span></b></p>
		<div class="col-lg-6 p-4 d-flex flex-column justify-content-center cont">
			<div class="scroll d-flex flex-column justify-content-center">
				<h6 class="display-6 animated slideInDown">OUR RATES</h6>
				<table class="zigzag">
					<thead>
						<tr>
							<th class="header">DETAILS</th>
							<th class="header">WE BUY</th>

						</tr>
					</thead>
					<tbody class="spn_data">
						<tr>
							<td>Gold / 1KG</td>
							<td><span id="gold1000" style="color: black;"></span></td>
						</tr>
						<tr>
							<td>Gold / 500G</td>
							<td><span id="gold500" style="color: black;"></span></td>
						</tr>
						<tr>
							<td>Gold / 100G</td>
							<td><span id="gold100" style="color: black;"></span></td>
						</tr>
						<tr>
							<td>Gold / 50G</td>
							<td><span id="gold50" style="color: black;"></span></td>
						</tr>
						<tr>
							<td>Gold / 10G</td>
							<td><span id="gold10" style="color: black;"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6 p-4 cont">
			<div class="d-flex flex-column justify-content-center">
				<h6 class="display-6 animated slideInDown">CUSTOMER SELL</h6>
				<table class="zigzag">
					<thead>
						<tr>
							<th class="header">DETAILS</th>
							<th class="header">WE BUY</th>
						</tr>
					</thead>
					<tbody class="cus_data">
						<tr>
							<td>999.9 Gold MYR / Gram</td>
							<td><span id="gold9999" style="color: black;"></span></td>
						</tr>
						<tr>
							<td>999 Gold MYR / Gram</td>
							<td><span id="gold999" style="color: black;"></span></td>
						</tr>
						<tr>
							<td>916 Gold MYR / Gram</td>
							<td><span id="gold916" style="color: black;"></span></td>
						</tr>

						<tr>
							<td>750 Gold MYR / Gram</td>
							<td><span id="gold750" style="color: black;"></span></td>
						</tr>
						<tr>
							<td>375 Gold MYR / Gram</td>
							<td><span id="gold375" style="color: black;"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="container pb-1">
	<div class="row text-center all_products_card justify-content-center">

	</div>
	<div class="row text-center product_cards" style="padding-top: 20px;">
		
	</div>
</div>
		<div class="row pt-2">
			<div class="col-md-12"  data-aos-duration="3000">
				<div class="corp">
					<h2>Gold Chart</h2>
				</div>
			</div>
		</div>
		<div class="row pt-2">

			<div class="col-md-12 text-center" data-aos-duration="3000">
				<h3 id="hours">(24 Hours)</h3>
			</div>

		</div>

<div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
  <canvas id="myChart" width="100"></canvas>
</div>
    
    <div class="container aos-init aos-animate" style="max-width: 359px; padding-bottom: 60px;" data-aos="fade-up" data-aos-duration="3000">
	<div class="d-flex flex-column justify-content-center cont">
		<h2 class="text-idea text-center mx-auto animated slideInDown">MARKET PRICE</h2>
		<table class="zigzag table-fixed">
			<thead>
				<tr>
					<th class="header">Details</th>
					<th class="header">RM / Gram</th>
				</tr>
			</thead>
			<tbody class="mk-table">
				<tr>
					<td>1g Bar / Coin 999.9</td>
					<td><span id="gold1g" style="color: black;"></span></td>
				</tr>
				<tr>
					<td>5g Bar / Coin 999.9</td>
					<td><span id="gold5g" style="color: black;"></span></td>
				</tr>
				<tr>
					<td>1 Dinar 999</td>
					<td><span id="dinar" style="color: black;"></span></td>
				</tr>
				<tr>
					<td>1 Dirham</td>
					<td><span id="" style="color: black;">19.11</span></td>
				</tr>
				<tr>
					<td>5 Dirham</td>
					<td><span id="" style="color: black;">90.02</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<footer class="site-footer" id="contact">
	
	<div class="footer_content">
		
		<div class="information">
			<ul type="none" class="contact_det">
				<li class="list_title">Information</li>
				<li class="list_items"><a href="/" class="link_lists">Home</a></li>
				<li class="list_items"><a href="/products" class="link_lists">Our Products</a></li>
				<li class="list_items"><a href="/contact" class="link_lists">Contact</a></li>
				<li class="list_items"><a href="/disclaimer" class="link_lists">Disclaimer</a></li>

			</ul>

		</div>

		<div class="contact_detail">
			<ul type="none" class="contact_det">
				<li class="list_title">Contact Details</li>
				<li  class="list_items">No. 48, Jalan Baiduri 1, Taman Pulau Melaka, 75000, Melaka</li>
				<li  class="list_items">+6011 2424 6969</li>
			</ul>
		</div>

		<div class="follow_us">
			<ul type="none" class="social_media">
				<li class="list_title">Follow Us</li>
				<li><a href="https://www.instagram.com/rozainigoldbullionjewellery/"><img class="" src="{{ url_for('static', filename='products/Images/InstagramCircleGold.png')}}" alt="Logo" width="50"></a></li>

				<li><a href="https://wa.me/601124246969">
                <img class="" src="{{ url_for('static', filename='Images/WhatsappGold.png')}}" alt="Logo" width="50"></a></li>
			</ul>
		</div>

	</div>


	<div class="container-fluid">
		<div class="row text-end">
			<div class="col-lg-12 col-md-12 ms-auto" style="padding-top: 10px; text-align: center;">
				 <img src="https://cdn.britannica.com/31/4031-004-82B0F3A9/Flag-Malaysia.jpg" width="4%" style="margin-bottom: 4px;margin-right: 4px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_Malacca.svg/1200px-Flag_of_Malacca.svg.png"  style="width: 4%;margin-bottom: 4px;margin-right: 4px">©2023 Rozaini Gold Bullion And Jewellery | Disclaimer. All Rights Reserved.</p>
			</div>
		</div>
	</div>
<footer>
  </body>
  <script>AOS.init();</script>
<script type="text/javascript">
	// function fetchTableData(){
	// 	let table_data = document.querySelector(".spn_data");
	// 	let cusData = document.querySelector(".cus_data")
	// 	let mktable = document.querySelector(".mk-table");

	// 	let customDate = document.getElementById("custom-date");
	// 	let customtime = document.getElementById("custom-time");

	// 	table_data.innerHTML = "";
	// 	cusData.innerHTML = "";
	// 	mktable.innerHTML = "";
	// 	customDate.innerHTML = "";
	// 	customtime.innerHTML = "";

	// 	fetch("/table",option={
	// 		method: "POST",
	// 	})

	// 	.then(response=>response.json())

	// 	.then(data => {
	// 		data.forEach(item=>{
	// 			var content = `						<tr>
	// 						<td>999.9 Gold USD / Oz</td>
	// 						<td><span id="spn3" style="color: black;">${item.spn3}</span></td>
	// 						<td><span id="spn4" style="color: black;">${item.spn4}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>USD / MYR</td>
	// 						<td><span id="spn1" style="color: black;">${item.spn1}</span></td>
	// 						<td><span id="spn2" style="color: black;">${item.spn2}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>999.9 Gold MYR / KG</td>
	// 						<td><span id="spn5" style="color: black;">${item.spn5}</span></td>
	// 						<td><span id="spn6" style="color: black;">${item.spn6}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>999.9 Gold MYR / Tael</td>
	// 						<td><span id="spn7" style="color: black;">${item.spn7}</span></td>
	// 						<td><span id="spn8" style="color: black;">${item.spn8}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>999.9 Gold MYR / Gram</td>
	// 						<td><span id="spn9" style="color: black;">${item.spn9}</span></td>
	// 						<td><span id="spn10" style="color: black;">${item.spn10}</span></td>
	// 					</tr>`
	// 					table_data.innerHTML = content
	// 					customDate.innerHTML = item.date
	// 					customtime.innerHTML = item.time

	// 			var content2 = `<tr>
	// 						<td>999 Gold MYR / Gram</td>
	// 						<td><span id="cus1" style="color: black;">${item.cus1}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>916 Gold MYR / Gram</td>
	// 						<td><span id="cus2" style="color: black;">${item.cus2}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>835 Gold MYR / Gram</td>
	// 						<td><span id="cus3" style="color: black;">${item.cus3}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>750 Gold MYR / Gram</td>
	// 						<td><span id="cus4" style="color: black;">${item.cus4}</span></td>
	// 					</tr>
	// 					<tr>
	// 						<td>375 Gold MYR / Gram</td>
	// 						<td><span id="cus5" style="color: black;">${item.cus5}</span></td>
	// 					</tr>`
	// 					cusData.innerHTML = content2;
	// 				var content3 = `<tr>
	// 								<td>999</td>
	// 								<td><span id="mak1" style="color: black;">${item.mak1}</span></td>
	// 							</tr>
	// 							<tr>
	// 								<td>916</td>
	// 								<td><span id="mak2" style="color: black;">${item.mak2}</span></td>
	// 							</tr>
	// 							<tr>
	// 								<td>835</td>
	// 								<td><span id="mak3" style="color: black;">${item.mak3}</span></td>
	// 							</tr>
	// 							<tr>
	// 								<td>750</td>
	// 								<td><span id="mak4" style="color: black;">${item.mak4}</span></td>
	// 							</tr>
	// 							<tr>
	// 								<td>375</td>
	// 								<td><span id="mak5" style="color: black;">${item.mak5}</span></td>
	// 							</tr>`

	// 					mktable.innerHTML=content3;
	// 		})
	// 	})
	// }
// fetchTableData()
// setInterval(fetchTableData,5000)
function setTableData() {
  fetch(`https://api.onewoorks.com/buybackemas/mks-price?tolak=-2&price=0`)
    .then(response => response.text())
    .then(data => {
      // Find the indexes of the properties in the JSON string
      const indexOfPriceTael = data.indexOf('"price_tael":');
      const indexOfPriceSilver = data.indexOf('"price_silver":');
      const indexOfTimestamp = data.indexOf('"timestamp":');
      const indexOfTolak = data.indexOf('"tolak":');

      if (indexOfPriceTael !== -1 && indexOfPriceSilver !== -1 && indexOfTimestamp !== -1 && indexOfTolak !== -1) {
        // Extract the values using string manipulation
        const priceTaelStart = indexOfPriceTael + '"price_tael":'.length;
        const priceTaelEnd = data.indexOf(',', priceTaelStart);
        const priceTael = data.slice(priceTaelStart, priceTaelEnd);

        const priceSilverStart = indexOfPriceSilver + '"price_silver":'.length;
        const priceSilverEnd = data.indexOf(',', priceSilverStart);
        const priceSilver = data.slice(priceSilverStart, priceSilverEnd);

        const timestampStart = indexOfTimestamp + '"timestamp":"'.length;
        const timestampEnd = data.indexOf('"', timestampStart);
        const timestamp = data.slice(timestampStart, timestampEnd);

        const tolakStart = indexOfTolak + '"tolak":'.length;
        const tolakEnd = data.indexOf(',', tolakStart);
        const tolak = data.slice(tolakStart, tolakEnd);

        // Create a new object with the extracted values
        const newData = {
          price_tael: priceTael,
          price_silver: priceSilver,
          timestamp: timestamp,
          tolak: tolak
        };

        let pricetael = newData.price_tael;
	      document.getElementById('gold9999').innerHTML = (pricetael / 37.8 * 0.99-0.58).toFixed(2);
	      document.getElementById('gold999').innerHTML = (pricetael / 37.8 * 0.98-3.48).toFixed(2);
	      document.getElementById('gold916').innerHTML = (pricetael / 37.8 * 0.90-3.15).toFixed(2);
	      document.getElementById('gold750').innerHTML = (pricetael / 37.8 * 0.72-2.53).toFixed(2);
	      document.getElementById('gold375').innerHTML = (pricetael / 37.8 * 0.30-1.05).toFixed(2);  
	  


    const gold1000Element = document.getElementById('gold1000');
    const formattedPrice1000 = (pricetael / 37.8 * 1000 + 70).toLocaleString('en-MY', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 2,
    });
    gold1000Element.innerHTML = formattedPrice1000;

  //Gold 500
    const gold500Element = document.getElementById('gold500');
    const formattedPrice500 = (pricetael / 37.8 * 500 + 210).toLocaleString('en-MY', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 2,
    });

    gold500Element.innerHTML = formattedPrice500;
  
  //Gold 100
  const gold100Element = document.getElementById('gold100');
    const formattedPrice100 = (pricetael / 37.8 * 100 + 70).toLocaleString('en-MY', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 2,
    });

    gold100Element.innerHTML = formattedPrice100;
  
  //Gold 50
  const gold50Element = document.getElementById('gold50');
    const formattedPrice50 = (pricetael / 37.8 * 50 + 90).toLocaleString('en-MY', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 2,
    });

    gold50Element.innerHTML = formattedPrice50;
  
  //Gold 10
  const gold10Element = document.getElementById('gold10');
    const formattedPrice10 = (pricetael / 37.8 * 10 + 70).toLocaleString('en-MY', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 2,
    });

    gold10Element.innerHTML = formattedPrice10;


	// 1g bar/coin
    const gold1gElement = document.getElementById('gold1g');
    const formattedPrice1 = (pricetael / 37.8 * 1 + 17).toLocaleString('en-MY', {
        minimumFractionDigits: 0, 
        maximumFractionDigits: 2,
    });

    gold1gElement.innerHTML = formattedPrice1;

    // 5g bar/coin
    const gold5gElement = document.getElementById('gold5g');
    const formattedPrice5 = (pricetael / 37.8 * 5 + 48).toLocaleString('en-MY', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 2,
    });

    gold5gElement.innerHTML = formattedPrice5;
	
	// 1 Dinar
    const dinargElement = document.getElementById('dinar');
    const formattedPrice4 = (pricetael / 37.8 * 4 + 118).toLocaleString('en-MY', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 2,
    });

    dinargElement.innerHTML = formattedPrice4;
      } else {
        console.error('One or more properties not found in JSON data');
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
}


setTableData()
setInterval(setTableData,3000)

function updateClock() {
  const clockElement = document.getElementById('custom-time'); // Replace 'clock' with the ID of your HTML element
  const options = {
    hour: '2-digit',
    minute: '2-digit',
    second: '2-digit',
    hour12: false, // Use 24-hour format
  };

  const userLocale = navigator.language || 'en-US'; // Get the user's locale, default to 'en-US' if not available
  const currentTime = new Date().toLocaleTimeString(userLocale, options);

  clockElement.textContent = currentTime;
}

// Update the clock every second
setInterval(updateClock, 3000);


// Call updateClock immediately to display the initial time
updateClock();


function updateDate() {
  const dateElement = document.getElementById('custom-date'); // Replace 'date' with the ID of your HTML element
  const options = {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
  };

  const userLocale = navigator.language || 'en-US'; // Get the user's locale, default to 'en-US' if not available
  const currentDate = new Date().toLocaleDateString(userLocale, options);

  dateElement.textContent = currentDate;
}

// Update the date every second
setInterval(updateDate, 1000);

// Call updateDate immediately to display the initial date
updateDate();


var datas = [];

function fetchGraphData() {
    fetch("/graph", {
        method: "POST"
    })
    .then(response => response.json())
    .then(data => {
        datas = data;
        updateChart();
    })
    .catch(error => {
        console.error("Error fetching graph data:", error);
    });
}
function updateChart() {
    try {
        var times = datas.map(entry => entry.time);
        var values = datas.map(entry => entry.value);

        var ctx = document.getElementById('myChart').getContext('2d');
        if (myChart) {
            myChart.destroy();
        }
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: 'Price in MYR',
                    data: values,
                    borderColor: '#fcba03',
                    backgroundColor: 'rgba(255, 179, 3, 0.3)',
                    borderWidth: 2,
                    fill: true
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        min: 0,  // Set minimum value to zero
                        max: 24  // Set maximum value to 24
                    }
                }
            }
        });
    } catch (chartError) {
        console.error("Error updating chart:", chartError);
    }
}

// Fetch and display graph data initially when the page loads
fetchGraphData();

// Fetch graph data every 10 seconds
setInterval(fetchGraphData, 5000);
</script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scrollspy.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/aos.js') }}"></script>
<script>AOS.init();</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2278368-89', 'auto');
  ga('send', 'pageview');

</script>
<!-- <script src="https://msgold.com.my/js/ajax.js?a=c111741cd2f1c78603f2e393e643f280"></script> -->
<script>
 localStorage.setItem("mode" , "dark-mode");

</script>

<script>

const body = document.querySelector("body"),
      nav = document.querySelector("nav"),
      modeToggle = document.querySelector(".dark-light"),
      searchToggle = document.querySelector(".searchToggle"),
      sidebarOpen = document.querySelector(".sidebarOpen"),
      siderbarClose = document.querySelector(".siderbarClose");

      let getMode = localStorage.getItem("mode");
          if(getMode && getMode === "dark-mode"){
            body.classList.add("dark");
          }


 
      
//   js code to toggle sidebar
sidebarOpen.addEventListener("click" , () =>{
    nav.classList.add("active");
});

body.addEventListener("click" , e =>{
    let clickedElm = e.target;

    if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
        nav.classList.remove("active");
    }
});


</script>
</html>

